img {
     border: 1px solid #ddd;
    border-radius: 1px;
    padding: 1px; 
    width: 300px;
    height: 200px;
  }

  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  .cardHolder {
    border: 1px dotted rgb(45, 45, 150);
    width: 300px;
    height: 350px;
    display: inline-block;
    text-align: center
  }


  .editbutton {
    display: inline-block;
    padding: 10px 10px;
    background: rgb(45, 238, 61);
    border: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    border-radius: 50px;
  }
  .removebutton {
    display: inline-block;
    padding: 10px 10px;
    background: rgb(66, 128, 186);
    border: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    border-radius: 50px;
  }
   
.hiddentext{
    display:hidden
}


.card-title{
  font-size: 20px;
  font-weight: 600;

}